@import 'tailwindcss';

@theme {
  /* Colors */
  --color-gv-dark-turquoise: #17ABB4;
  --color-gv-bg: #FFFFFF;
  --color-gv-bg-bar: #ECF9F9;
  --color-border: #E5E5E5;
  --color-border-bar: #6CE9EA;
  --color-text: #141414;
  --color-text-light: #C6C6C6;
  --color-input-bg: #E6E6E6;
  --color-input-placeholder: #707070;
  --color-primary: #00CFD1;
  --color-primary-text: #FFFFFF;
  --color-secondary: #C8FCFF;
  --color-secondary-text: #25DCE4;
  --color-delete: #DB0000;
  --color-overlay: rgba(0, 0, 0, 0.5);
  /* Font Sizes */
  --text-dt-1: 40px;
  --text-dt-2: 35px;
  --text-dt-3: 25px;
  --text-dt-4: 23px;
  --text-dt-5: 20px;
  --text-dt-6: 18px;
  --text-dt-7: 16px;
  --text-dt-8: 14px;
  --text-dt-9: 12px;
  --icon-dt-1: 56px;
  --icon-dt-2: 33px;
  --icon-dt-3: 30px;
  --icon-dt-4: 24px;
  --icon-dt-5: 17px;
  /* Border Radius */
  --radius-1: 14px;
  --radius-2: 7px;
  --radius-rfull: 100px;
}

:root {
  font-family: 'Inter', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
  overflow: hidden;
}

.icon {
  font-family: 'Material Symobls Rounded' !important;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
